replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/product-service
  tag: "9a90fe4aa99dd74a685685537e6e83511eb1eaab"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

readinessProbe:
  path: /health
  initialDelaySeconds: 30

livenessProbe:
  path: /health
  initialDelaySeconds: 60
