replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/order-service
  tag: "a6c47ac430493796161767f4962faa8b78b463ee"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
startupProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 30
readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 30
livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 60
env:
- name: SPRING_DATASOURCE_URL
  value: jdbc:mysql://mysql.dev.svc.cluster.local:3306/leninkart?useSSL=false&allowPublicKeyRetrieval=true
- name: SPRING_DATASOURCE_USERNAME
  value: root
- name: SPRING_DATASOURCE_PASSWORD
  value: root123
- name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
  value: com.mysql.cj.jdbc.Driver
- name: SPRING_JPA_HIBERNATE_DDL_AUTO
  value: update
- name: SPRING_KAFKA_BOOTSTRAP_SERVERS
  value: kafka.dev.svc.cluster.local:9092
- name: SERVER_PORT
  value: '8080'
