replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/YOUR_PROJECT/YOUR_REPO/order-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
