replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/order-service
  tag: "a6c47ac430493796161767f4962faa8b78b463ee"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

readinessProbe:
  path: /health
  initialDelaySeconds: 30

livenessProbe:
  path: /health
  initialDelaySeconds: 60
