replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/order-service
  tag: "62f2f8859454bf625e97f3cfc7d10d3d4d3192ae"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

readinessProbe:
  path: /health
  initialDelaySeconds: 30

livenessProbe:
  path: /health
  initialDelaySeconds: 60
