apiVersion: apps/v1
kind: Deployment
metadata:
  name: { '{' } include "order-service.fullname" . { '}' }
  labels:
    app: { '{' } include "order-service.name" . { '}' }
spec:
  replicas: { '{' } .Values.replicaCount { '}' }
  selector:
    matchLabels:
      app: { '{' } include "order-service.name" . { '}' }
  template:
    metadata:
      labels:
        app: { '{' } include "order-service.name" . { '}' }
    spec:
      containers:
        - name: { '{' } include "order-service.name" . { '}' }
          image: "{ '{' } .Values.image.repository { '}' }:{ '{' } .Values.image.tag { '}' }"
          imagePullPolicy: { '{' } .Values.image.pullPolicy { '}' }
          ports:
            - containerPort: { '{' } .Values.service.targetPort { '}' }
          resources: { '{' } toYaml .Values.resources | nindent 12 { '}' }
