replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/frontend
  tag: "483a614321df35fee93fd0f7ce3d8ebc93fa2e62"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
