replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/frontend
  tag: dev-ec43b5e        # CI updates ONLY this
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

readinessProbe:
  httpGet:
    path: /health
    port: 80
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3

livenessProbe:
  httpGet:
    path: /health
    port: 80
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 6
