replicaCount: 1
image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/frontend
  tag: will-be-overwritten-by-ci
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3000
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
startupProbe:
  httpGet:
    path: /health
    port: 80
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 30
containerPort: 3000
readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 45
  periodSeconds: 10
  failureThreshold: 6
livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 90
  periodSeconds: 15
  failureThreshold: 10
