replicaCount: 1

image:
  repository: asia-south1-docker.pkg.dev/leninkart-478305/leninkart/frontend
  tag: dev-9-98028ef
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

container:
  port: 3000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 5

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 60
  periodSeconds: 15
  failureThreshold: 10
